<mat-card class="event-item-card" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title>{{event?.startDate | momentPipe: 'DD.MM.YYYY'}}</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button color="primary" mat-mini-fab (click)="editEvent()">
        <mat-icon>edit</mat-icon>
      </button>
      <button color="primary" mat-mini-fab (click)="deleteEvent()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <mat-card-content fxLayout="row" fxLayoutAlign="space-between end">

    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <span fxLayout="row" fxLayoutGap="10px">
        <div class="font-md">{{event?.location}}</div>
      </span>
      <span fxLayout="row" fxLayoutGap="10px">
        <div class="font-md">{{event?.tore}} Tore</div>
      </span>
      <span *ngIf="event?.infos" fxLayout="row" fxLayoutGap="10px">
        <div class="font-md">{{event?.infos}}</div>
      </span>
    </div>
    <div>
      <button disabled mat-fab color="accent">
        SL
      </button>
    </div>

  </mat-card-content>
</mat-card>
