html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.content-container {
  padding: $padding-lg;
}

.mat-form-field {
  width: 100%;
}

.radio {
  padding-right: $padding-lg;
  padding-bottom: $padding-lg;
}
