// ------------------------
// Variables
// ------------------------
$padding-xs: 3px;
$padding-sm: 6px;
$padding-md: $padding-sm * 2;     // 12px
$padding-md-2: $padding-sm * 3;   // 18px
$padding-lg: $padding-sm * 4;     // 24px
$padding-xl: $padding-sm * 8;     // 32px

$color-primary: #673ab7;
$color-grey: #808080;
$color-background: #fafafa;
